body {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    background-color: #FAFAFA;
}

p {
    margin-bottom: 0;
}

img {
    max-width: 100%;
}

a,
a:hover {
    text-decoration: none;
}

input {
    outline: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input[type="submit"] {
    cursor: pointer;
}

.btn-common {
    border: none;
    box-shadow: 0px 4px 10px rgba(6, 53, 122, 0.15);
    outline: none;
    text-decoration: none;
    display: inline-flex;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    justify-content: center;
    align-items: center;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
}

.btn-common span {
    font-size: 22px;
    letter-spacing: 0.05em;
}

.btn-common-blue {
    background-color: #06357A;
    color: #fff;
}

.btn-common-blue:hover {
    color: #fff;
    background-color: #1b51a1;
}

.button_blue {
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    background: #06357A;
    box-shadow: 0px 4px 10px rgba(6, 53, 122, 0.15);
    padding: 14px 45px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.button_blue span:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-left: 11px;
    height: 2px;
    width: 30px;
    background-color: #fff;
}

.button_blue:hover {
    background-color: #1b51a1;
    color: #fff;
}

/* header */
header {
    padding: 0 110px;
    background-color: #fff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    height: 65px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

.header-logo {
    height: 65px;
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-nav ul li {
    display: inline-block;
    margin-right: 40px;
}

.header-nav ul li:last-child {
    margin-right: 0;
}

.header-nav ul li a {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #231F20;
}


.header-right {
    text-align: right;
}

.header-right>div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 45px;
}

.header-right>div:last-child {
    margin-right: 0;
    margin-top: 5px;
}

.header__language img {
    margin-left: 5px;
}

.header__search img,
.header__card img {
    width: 20px;
}

.header__language>p {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #231F20;
}

/* header end */

/* home page */
/* slider */
.main-slider {
    position: relative;
}

.main-slider .carousel-indicators {
    right: 110px;
    left: initial;
    bottom: 110px;
    margin: 0 0 0 0;
}

.main-slider .carousel-indicators li {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 12px;
}

.main-slider__text {
    position: absolute;
    top: 29%;
    width: 100%;
    left: 0;
}

.main-slider__title {
    font-size: 55px;
    line-height: 71px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.main-slider__descr {
    font-size: 18px;
    line-height: 140%;
    color: #DADADA;
    margin-bottom: 55px;
}

.main-slider__text a {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    padding-left: 46px;
    position: relative;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.main-slider__text a:before {
    display: inline-block;
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
    background-color: #fff;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.main-slider__text a:hover {
    padding-left: 56px;
}

.main-slider__text a:hover:before {
    width: 40px;
}

/* advantage */
.advantages {
    padding: 30px 0 37px 0;
}

.advantage-box {
    background-color: #fff;
    padding: 34px 30px 30px 30px;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.advantage-box>img {
    margin-bottom: 20px;
    height: 70px;
}

.advantage-box .title {
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.02em;
    color: #231F20;
}

.advantage-box .descr {
    height: 108px;
    overflow: hidden;
    color: #717171;
    line-height: 140%;
}

/* pic category */
.pic-category-box {
    position: relative;
    height: 100%;
}

.pic-category-box span {
    position: absolute;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    top: 40px;
    left: 80px;
    padding-left: 50px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.pic-category-box span:before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 30px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    background-color: #fff;
    position: absolute;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.pic-category-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.pic-category-box:hover span {
    padding-left: 60px;
}

.pic-category-box:hover span:before {
    width: 40px;
}

.grid-masonry {
    columns: 2 200px;
    column-gap: 10px;

}

.grid-masonry a {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}

.grid-masonry a:nth-child(1),
.grid-masonry a:nth-child(4) {
    height: 650px;
}

.grid-masonry a:nth-child(2),
.grid-masonry a:nth-child(3) {
    height: 535px;
}

/* news */
.news {
    padding: 40px 0 30px 0;
}

.slider-news__picblock {
    height: 246px;
    overflow: hidden;
}

.slider-news__picblock img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
}

.slider-news__picblock:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.slider-news__textblock {
    padding: 20px 0;
}

.slider-news__textblock .title {
    margin-bottom: 10px;
    color: #231F20;
    letter-spacing: 0.02em;
    font-size: 30px;
    line-height: 120%;
}

.slider-news__textblock .date {
    color: #B9B9B9;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 15px;
}

.slider-news__textblock .descr {
    color: #717171;
    font-size: 20px;
    line-height: 140%;
}

.slider-news__item {
    margin: 0 15px;
}

.slider-news {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-bottom: 20px;
    position: relative;
}

.slider-news .slick-arrow {
    outline: none;
    padding: 0;
    border: none;
    background: transparent;
    width: 20px;
    height: 35px;
    background-size: 100% 100%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -45px;
}

.slider-news .slick-prev.slick-arrow {
    background-image: url(../images/arrow-left.svg);
    left: -90px;
}

.slider-news .slick-next.slick-arrow {
    background-image: url(../images/arrow-right.svg);
    right: -90px;
}

.slider-news .slick-prev.slick-arrow:hover {
    background-image: url(../images/arrow-left-hover.svg);
}

.slider-news .slick-next.slick-arrow:hover {
    background-image: url(../images/arrow-right-hover.svg);
}

.news .btn-common.btn-common-blue {
    height: 60px;
    width: 194px;
}

.news .btn-common.btn-common-blue span:after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 30px;
    background-color: #fff;
    vertical-align: middle;
    margin-left: 15px;
}

/* subscribe */
.subscribe {
    height: 120px;
    background-color: #06357A;
    display: flex;
    align-items: center;
}

.subscribe::-webkit-input-placeholder {
    color: #B9B9B9;
    letter-spacing: 0.01em;
    font-size: 22px;
}

.subscribe::-moz-placeholder {
    color: #B9B9B9;
    letter-spacing: 0.01em;
    font-size: 22px;
}

.subscribe:-ms-input-placeholder {
    color: #B9B9B9;
    letter-spacing: 0.01em;
    font-size: 22px;
}

.subscribe:-moz-placeholder {
    color: #B9B9B9;
    letter-spacing: 0.01em;
    font-size: 22px;
}

.subscribe-form__input {
    background: #FFFFFF;
    border: 1px solid #01275E;
    font-size: 22px;
    padding: 0 20px;
    height: 60px;
    width: 418px;
    margin-right: 10px;
    vertical-align: middle;
}

.subscribe-form__btn {
    letter-spacing: 0.06em;
    font-size: 22px;
    color: #fff;
    background-color: #231F20;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 270px;
    height: 61px;
    vertical-align: middle;
    border: none;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.subscribe-form__btn:hover {
    background-color: #132642;
}

.subscribe__social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.subscribe__social ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.subscribe__social ul li {
    display: inline-block;
    margin-right: 45px;
    vertical-align: middle;
}

.subscribe__social ul li:last-child {
    margin-right: 0;
}

.subscribe__social ul li a {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-position: center center;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.subscribe__social ul li:first-child a {
    background-image: url(../images/icons/facebook.svg);
}

.subscribe__social ul li:nth-child(2) a {
    background-image: url(../images/icons/instagram.svg);
}

.subscribe__social ul li:nth-child(3) a {
    background-image: url(../images/icons/youtube-play-button.svg);
}

.subscribe__social ul li a:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* footer */
footer {
    padding: 68px 0 39px 0;
    background-color: #231F20;
}

.footer__title {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.footer__service-center ul li,
.footer__production ul li,
.footer__info ul li {
    margin-bottom: 12px;
}

.footer__service-center ul li:nth-child(2) {
    margin-bottom: 25px;
}

.footer__service-center ul li a,
.footer__production ul li a,
.footer__info ul li a {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.footer__service-center ul li:nth-child(2) {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #878787;
}

.footer__service-center ul li a,
.footer__production ul li a,
.footer__info ul li a {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #878787;
}

.footer__service-center ul li a:hover,
.footer__production ul li a:hover,
.footer__info ul li a:hover {
    color: #fff;
}

.footer__info {
    padding-left: 15px;
}

.footer__logo {
    margin-bottom: 35px;
}

.footer-right p {
    letter-spacing: 0.01em;
    font-weight: 300;
    font-size: 20px;
    color: #878787;
    margin-bottom: 50px;
}

.footer__language li {
    display: inline-block;
    margin-right: 16px;
}

.footer__language li:last-child {
    margin-right: 0;
}

.footer__language li a {
    display: inline-flex;
    width: 36px;
    height: 36px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    background-color: #06357A;
    border: 1px solid #06357A;
    color: #fff;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    font-size: 18px;
    color: #fff;
}

.footer__language li a:hover,
.footer__language li.active a {
    border: 1px solid #fff;
    background-color: transparent;
}

.footer__copyright {
    border-top: 1px solid #3A3637;
    padding-top: 20px;
    margin-top: 50px;
}

.footer__copyright ul li {
    display: inline-block;
    margin-right: 26px;
}

.footer__copyright ul li a {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center center;
}

.footer__copyright ul li:first-child a {
    background-image: url(../images/icons/instagram-grey.svg);
}

.footer__copyright ul li:nth-child(2) a {
    background-image: url(../images/icons/facebook-grey.svg);
}

.footer__copyright ul li:nth-child(3) a {
    background-image: url(../images/icons/youtube-grey.svg);
}

.footer__copyright p {
    text-align: right;
    letter-spacing: 0.03em;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #878787;
}

.burger-menu {
    display: none;
}

.slick-slide,
.slick-slide a {
    outline: none;
}

.header-nav ul>li {
    position: relative;
}

.header-nav ul li .submenu {
    position: absolute;
    z-index: 2;
    background-color: #fff;
    width: 200px;
    text-align: center;
    left: -50%;
    padding: 20px 0;
    top: 65px;
    display: none;
}

.header-nav ul li .submenu li {
    display: block;
    margin-bottom: 20px;
}

.header-nav ul li .submenu li.active a,
.header-nav ul li .submenu li a:hover {
    color: #06357A;
}

.header-nav ul li .submenu li:last-child {
    margin-bottom: 0;
}

.header-nav ul li .submenu li a {
    color: #717171;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
}

.header-nav ul li .submenu li a::before {
    display: none;
}

.header-nav ul li.active a:before {
    width: 60px;
    max-width: 100%;
}

.header-nav ul li a:before {
    content: "";
    width: 0;
    margin: 0 auto;
    display: block;
    height: 4px;
    background-color: #06357A;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.header-nav ul li a:hover:before {
    max-width: 100%;
    left: 0;
    right: 0;
    width: 60px;
}

.header__language {
    position: relative;
}

.header__language ul {
    background-color: #fff;
    position: absolute;
    z-index: 2;
    text-align: center;
    width: 50px;
    margin-left: -16px;
    top: 34px;
    display: none;

}

.header__language ul li a {
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #231F20;
}

.header__language>p {
    cursor: pointer;
}

.header__language ul li a:hover {
    color: #06357A;
    font-weight: bold;
}

.header__search {
    position: relative;
}

.header__search>span {
    cursor: pointer;
}

.header__search-field {
    position: absolute;
    right: -10px;
    top: -4px;
    width: 300px;
    display: none;
}

.header__search-field input[type="text"] {
    width: 100%;
    padding-left: 15px;
    font-size: 16px;
    border: 1px solid #06357A;
    height: 40px;
}

.header__search-field input[type="submit"] {
    display: inline-block;
    outline: none;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(../images/icons/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    background-color: transparent;
}

.header-nav ul li:hover .submenu,
.header-nav .submenu:hover {
    display: block;
}

.header-nav ul li .submenu li {
    height: auto;
    margin-right: 0;
}

.header-nav ul>li {
    height: 67px;
    display: inline-flex;
    align-items: center;
}

/* category */
.category-content .pic-category-box span::before {
    display: none;
}

.category-content .pic-category-box span {
    left: 110px;
    z-index: 2;
    padding-left: 0;
}

.category-content .pic-category-box .description {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 38px 35px 43px 35px;
    background-color: #231F20;
    max-width: 350px;
    z-index: 2;
}

.category-content .pic-category-box .description p {
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}

.category-content .grid-masonry {
    column-gap: 11px;
}

.category-content .subscribe {
    margin-top: -10px;
}

.category-content .grid-masonry a {
    position: relative;
}

.category-content .grid-masonry a:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/dark-bg.png);
    opacity: 0;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.category-content .grid-masonry a:hover:after {
    opacity: 1;
}

.category-content .grid-masonry a.grid-item {
    height: 535px;
}

.category-content .grid-masonry a.grid-item.big {
    height: 650px;
}

.mouse-icon {
    position: fixed;
    right: 60px;
    bottom: 80px;
    z-index: 3;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-name: scrollpic;
    animation-name: scrollpic;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;
}



@-webkit-keyframes scrollpic {
    0% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }
}

@keyframes scrollpic {
    0% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
    }
}

/* category open */
.bread-crums {
    padding: 20px 0;
}

.bread-crums ul li {
    display: inline-block;
    vertical-align: middle;
    color: #878787;
    letter-spacing: 0.02em;
    font-size: 13px;
    line-height: 17px;
    margin-right: 12px;
    padding-left: 32px;
    position: relative;
}

.bread-crums ul li:first-child {
    padding-left: 0;
}

.bread-crums ul li:first-child:after {
    display: none;
}

.bread-crums ul li:last-child {
    margin-right: 0;
}

.bread-crums ul li a {
    letter-spacing: 0.02em;
    font-size: 13px;
    line-height: 17px;
    color: #626161;
}

.bread-crums ul li a:hover {
    text-decoration: underline;
}

.bread-crums ul li:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 1px;
    background-color: #878787;
    position: absolute;
    left: 0;
    top: 10px;

}

.duo-slider .col-lg-7 {
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
}

.duo-slider .col-lg-5 {
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
}

.duo-slider .slick-slide img {
    width: 100%;
}

.duo-slider .slider-nav .slick-slide {
    width: 130px;
    height: 100px;
    padding: 5px 0;
}

.duo-slider .slider-nav {
    width: 68%;
    margin: 15px auto 0;
    position: relative;
}

.duo-slider .slider-nav .slick-slide img {
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.category-open {
    background-color: #fff;
    padding-bottom: 100px;
}

.slick-arrow.duo-arrow {
    background-color: transparent;
    border: none;
    outline: none;
    width: 12px;
    height: 20px;
    background-size: 100% 100%;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    cursor: pointer;
}

.slick-next.duo-arrow {
    background-image: url(../images/arrow-right.svg);
    right: -62px;
}

.slick-next.duo-arrow:hover {
    background-image: url(../images/arrow-right-hover.svg);
}

.slick-prev.duo-arrow {
    background-image: url(../images/arrow-left.svg);
    left: -62px;
}

.slick-prev.duo-arrow:hover {
    background-image: url(../images/arrow-left-hover.svg);
}

.catinfo {
    padding-left: 16.5%;
    padding-right: 24%;
    padding-top: 25px;
}

.catinfo__title {
    color: #231F20;
    font-size: 60px;
    line-height: 78px;
    letter-spacing: 0.02em;
    margin-bottom: 50px;
}

.catinfo__descr {
    color: #717171;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 45px;
}

.catinfo__iconsbox {
    display: flex;
    justify-content: space-between;
}

.catinfo__iconsbox>div {
    text-align: center;
}

.catinfo__iconsbox img {
    height: 40px;
    margin-bottom: 14px;
}

.catinfo__iconsbox span {
    display: block;
    color: #717171;
    font-size: 18px;
    line-height: 100%;
}

.cat-options {
    margin-top: 60px;
}

.cat-options .cat-options__title {
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.02em;
    color: #231F20;
    padding-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 40px;
}

.cat-product-box {
    padding: 15px 15px 30px 15px;
    background-color: #fff;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.cat-product-box__pic {
    position: relative;
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.cat-product-box__colors {
    position: absolute;
    bottom: 0;
    left: 0;
}

.cat-product-box__colors span {
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 4px solid #F1F1F1;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.cat-product-box__colors span:last-child {
    margin-right: 0;
}

.gold-prodcolor {
    background: linear-gradient(53.79deg, #C6A16B 13.02%, #EBC972 35.19%, #C6A16B 83.96%);
}

.white-prodcolor {
    background-color: #fff;
}

.silver-prodcolor {
    background: linear-gradient(53.79deg, #DEDEDE 13.02%, #FFFFFF 40.36%, #DEDEDE 83.96%);
}

.cat-product-box__pic>img {
    max-height: 100%;
}

.cat-product-box__text .title {
    letter-spacing: 0.02em;
    font-size: 30px;
    line-height: 120%;
    color: #5C5C5C;
    margin-bottom: 8px;
}

.cat-product-box__text .sizes {
    letter-spacing: 0.02em;
    font-size: 22px;
    line-height: 120%;
    color: #5C5C5C;
}

.cat-options__description {
    margin-top: 30px;
    color: #717171;
    font-size: 20px;
    line-height: 140%;
}

.cat-product-box:hover {
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
}

/* product */
.catinfo.product .catinfo__title {
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 40px;
}

.catinfo.product .catinfo__descr {
    margin-bottom: 40px;
}

.catinfo.product a {
    display: inline-block;
    padding: 14px 45px;
    letter-spacing: 0.05em;
    font-size: 22px;
    line-height: 140%;
    color: #FFFFFF;
    background: #06357A;
    box-shadow: 0px 4px 10px rgba(6, 53, 122, 0.15);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    margin-bottom: 40px;
}

.catinfo.product a:hover {
    background-color: #1b51a1;
}

.catinfo.product a span {
    position: relative;
}

.catinfo.product a span:after {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 2px;
    background-color: #fff;
    vertical-align: middle;
    margin-left: 11px;
}

.product-information {
    margin-top: 60px;
}

.product-information .nav-tabs {
    border-bottom: none;
}

.product-information .nav-tabs .nav-link {
    border: none;
}

.product-information .nav-tabs .nav-link {
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.02em;
    color: #231F20;
    padding: 0 0 17px 0;
}

.product-information .nav-tabs .nav-link.active,
.product-information .nav-tabs .nav-link:hover {
    border-bottom: 8px solid #06357A;
}

.product-information .nav-tabs .nav-item:first-child {
    margin-right: 80px;
}

.product-information .tab-content {
    border-top: 1px solid #e5e5e5;
    padding: 40px 0 20px 0;
}

.product-information .table-row {
    height: 56px;
    display: flex;
    align-items: center;
}

.product-information .table-row:nth-child(odd) {
    background-color: #F8F8F8;
}

.product-information .left-col,
.product-information .right-col {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.02em;
}

.product-information .left-col {
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
    padding-left: 50px;
    color: #000;
}

.product-information .right-col {
    -ms-flex: 0 0 65%;
    flex: 0 0 65%;
    max-width: 65%;
    color: #5C5C5C;
}

.docdownload {
    padding-left: 50px;
}

.docdownload a {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #06357A;
    background-image: url(../images/icons/document.svg);
    background-repeat: no-repeat;
    background-position: center left;
    display: block;
    margin-bottom: 15px;
    padding: 5px 0 5px 40px;
}

.docdownload a:hover {
    background-color: #eaf2fd;
}

/* About us */

.about-us .top-picbox {
    height: 400px;
    background: url(../images/abus.png) no-repeat center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abus-content h3 {
    color: #231F20;
    letter-spacing: 0.02em;
    font-size: 50px;
    line-height: 65px;
    margin-bottom: 30px;
}

.abus-content p {
    color: #717171;
    margin-bottom: 20px;
}

.abus-video-section {
    margin-top: 60px;
    margin-bottom: 40px;
}

.abus-list p {
    color: #231F20;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.02em;
}

.abus-list ul li {
    color: #717171;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 12px;
    position: relative;
    padding-left: 45px;
}

.abus-list ul li:before {
    content: "";
    display: inline-block;
    background-image: url(../images/map-marker-blue.svg);
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
}

.abus-video-section .video-player {
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
}

.abus-video-section .video-player .image-wrapper {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.abus-video-section .video-player .play {
    transition: .75s;
    -webkit-transition: .75s;
    -moz-transition: .75s;
    -ms-transition: .75s;
    -o-transition: .75s;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-top: -30px;
    margin-left: -30px;
}

.abus-video-section .video-player:hover .play {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.abus-video-section .video-player .play {
    background-image: url(../images/play-button.svg);
    background-size: 100% 100%;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    outline: none;
}

.abus-video-section .video-player .image-wrapper,
.abus-video-section .video-player .image {
    width: 100%;
}

.abus-video-section .video-player .preview,
.abus-video-section .video-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.abus-video-section .video-player [data-hidden="true"] {
    display: none;
}

.abus-content .advantage-box {
    box-shadow: none;
    background-color: transparent;
}

.about-us {
    background-color: #fff;
}

.cooperation {
    margin-top: 60px;
    padding-bottom: 65px;
}

.cooperation>p {
    color: #231F20;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.02em;
    font-weight: bold;
    margin-bottom: 40px;
}

.cooperation__box {
    padding-right: 60px;

}

.cooperation__box>p {
    color: #717171;
    font-size: 20px;
    line-height: 140%;
    padding-left: 45px;
    position: relative;
    margin-bottom: 35px;
}

.cooperation__box>p:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../images/icons/check-blue.svg);
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;

}

/* Contact  */
.contact-info h1,
h1,
.genh1 {
    color: #231F20;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: 0.02em;
}

.contact-info h1 {
    margin-bottom: 75px;
}

.contact-info h3 {
    color: #231F20;
    letter-spacing: 0.03em;
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 65px;
}

.contact-info .title {
    letter-spacing: 0.03em;
    line-height: 26px;
    color: #878787;
    width: 39%;
    display: inline-block;
}

.contact-info .descr,
.contact-info .descr a {
    color: #231F20;
    line-height: 26px;
    letter-spacing: 0.03em;
    width: 60%;
    display: inline-block;
}

.contact-info .descr a {
    width: 100%;
}

.contact-info .descr a:hover {
    text-decoration: underline;
}

.contact-info ul li {
    margin-bottom: 20px;
}

.contact-info ul li:last-child {
    margin-bottom: 0;
}

.contact-info ul li span {
    vertical-align: top;
}

.contact-info ul {
    padding-bottom: 100px;
    border-bottom: 1px solid #E5E5E5;
}

.subscribe-us {
    padding-top: 48px;
}

.subscribe-us span {
    letter-spacing: 0.03em;
    font-size: 20px;
    line-height: 26px;
    color: #878787;
    display: inline-block;
    vertical-align: middle;
}

.subscribe-us ul {
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 35px;
    border-bottom: none;
}

.subscribe-us ul li {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
    margin-right: 28px;
}

.subscribe-us ul li a img {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.subscribe-us ul li a:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.subscribe-us ul li:last-child {
    margin-right: 0;
}

.contact-page {
    padding-bottom: 100px;
}

#contact-form {
    padding: 52px 112px 86px 112px;
    background-color: #fff;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
}

#contact-form .title {
    color: #231F20;
    padding-bottom: 35px;
    border-bottom: 1px solid #E5E5E5;
    letter-spacing: 0.03em;
    font-size: 30px;
    line-height: 39px;
    margin-bottom: 60px;
}

.contact-form__inptitle {
    color: #231F20;
    letter-spacing: 0.01em;
    font-size: 18px;
    line-height: 140%;
    display: inline-block;
    vertical-align: middle;
    width: 29%;
}

.contact-form__input {
    width: 70%;
    display: inline-block;
    vertical-align: top;
    background: #FFFFFF;
    border: 1px solid #B6B6B6;
    box-sizing: border-box;
    height: 50px;
    padding-left: 20px;
}

.contact-form__row {
    margin-bottom: 30px;
}

textarea.contact-form__input {
    height: 100px;
    resize: none;
    outline: none;
    padding-top: 10px;
}

.contact-form__submit {
    margin-left: 29%;
    background: #06357A;
    box-shadow: 0px 4px 10px rgba(6, 53, 122, 0.15);
    padding: 15px 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    letter-spacing: 0.05em;
    font-size: 22px;
    line-height: 140%;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.contact-form__submit:hover {
    background-color: #1b51a1;
}

.contact-form__submit:after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 30px;
    background-color: #fff;
    margin: 4px 0 0 15px;
}

.contact-info {
    padding-right: 100px;
}

.genh1 {
    margin-bottom: 30px;
}

.blog__bigpost {
    height: 360px;
    position: relative;
    overflow: hidden;
}

.blog__bigpost>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.blog__bigpost:hover>img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.blog__bigpost-text {
    position: absolute;
    left: 30px;
    bottom: 35px;
}

.blog__bigpost-text .date {
    font-size: 18px;
    line-height: 140%;
    color: #fff;
    margin-bottom: 10px;
}

.blog__bigpost-text .date img {
    margin-right: 10px;
    width: 18px;
    margin-top: -3px;
}

.blog__bigpost-text .descr {
    font-size: 30px;
    line-height: 120%;
    color: #fff;
    letter-spacing: 0.02em;
    max-width: 500px;
}

.blog__row-posts {
    padding: 60px 0 100px 0;
}

.blog__pic-block {
    height: 205px;
}

.blog__pic-block img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.blog__pic-block {
    overflow: hidden;
}

.blog__row-post:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.blog__text-block .title {
    color: #231F20;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
}

.blog__text-block .date {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 140%;
    color: #B9B9B9;
}

.blog__text-block .description {
    color: #717171;
    font-size: 20px;
    line-height: 140%;
}

.blog__row-post {
    margin-bottom: 30px;
}

.blog__more-post {
    height: 60px;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog__more-post span {
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.05em;

    color: #06357A;
}

.blog__more-post span img {
    margin-right: 25px;
    transition: 5s;
    -webkit-transition: 5s;
    -moz-transition: 5s;
    -ms-transition: 5s;
    -o-transition: 5s;
}

.blog__more-post:hover span img {
    transform: rotate(3600deg);
    -webkit-transform: rotate(3600deg);
    -moz-transform: rotate(3600deg);
    -ms-transform: rotate(3600deg);
    -o-transform: rotate(3600deg);
    transition: 10s;
    -webkit-transition: 10s;
    -moz-transition: 10s;
    -ms-transition: 10s;
    -o-transition: 10s;
}

.blog__more-post {
    margin-top: 50px;
}

/* post open */
.post-content .title {
    color: #231F20;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
}

.post-content .date {
    color: #231F20;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 30px;
}

.post-content .date img {
    width: 18px;
    margin: -4px 6px 0 0;
}

.post-content img {
    width: 100%;
    margin-bottom: 50px;
}

.post-content>p {
    margin-bottom: 25px;
    line-height: 140%;
    color: #717171;
}

.post-content {
    padding-bottom: 75px;
}

.post-content.p0 {
    padding-bottom: 0;
}


.post-sidebar__title {
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.02em;
    color: #231F20;
    padding-bottom: 20px;
    margin-bottom: 23px;
    border-bottom: 1px solid #E5E5E5;
}

.post-sidebar__picbox img {
    width: 100%;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.post-sidebar__post:hover .post-sidebar__picbox img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.post-sidebar__picbox {
    margin-bottom: 15px;
    overflow: hidden;
}

.post-sidebar__textbox .title {
    color: #231F20;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 3px;
    letter-spacing: 0.02em;
}

.post-sidebar__textbox .date {
    color: #B9B9B9;
    font-size: 18px;
    line-height: 140%;
}

.post-sidebar__post {
    margin-bottom: 30px;
}

/* work */

.top-bbox {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/work.png);
    background-size: cover;
    position: relative;
}

.work p {
    line-height: 140%;
    color: #717171;
}

.vacation {
    margin-top: 60px;
}

.choose-country {
    width: 306px;
    height: 66px;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    padding: 0 20px;
    outline: none;
    color: #231F20;
    opacity: 0.55;
    font-size: 18px;
}

.vacation__rows {
    margin-top: 30px;
}

.vacation__row {
    background: #FFFFFF;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
    padding: 25px 30px 25px 25px;
    margin-bottom: 15px;
}

.vacation__row:hover {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.vacation__row .title {
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.02em;
    color: #231F20;
}

.vacation__row .company {
    font-size: 18px;
    line-height: 140%;
    color: #B9B9B9;
    margin-bottom: 15px;
}

.vacation__time,
.vacation__place,
.vacation__phone {
    font-size: 20px;
    line-height: 140%;
    color: #717171;
    display: inline-block;
    vertical-align: middle;
}

.vacation__phone a {
    color: #717171;
}

.vacation__phone a:hover {
    text-decoration: underline;
}

.vacation__time {
    margin-right: 22px;
}

.vacation__place {
    margin-right: 75px;
}


.vacation__time:before,
.vacation__place:before,
.vacation__phone:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    margin-right: 6px;
}

.vacation__time:before {
    background-image: url(../images/icons/performance.svg);
    margin-bottom: -2px;
}

.vacation__place:before {
    background-image: url(../images/icons/map-marker.svg);
    margin-bottom: -3px;
}

.vacation__phone:before {
    background-image: url(../images/icons/telephone.svg);
    margin-bottom: -3px;
}

.vacation__datails {
    color: #06357A;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.05em;

}

.vacation__datails:hover {
    color: #06357A;
}

.vacation__datails:after {
    height: 2px;
    width: 30px;
    background: #06357A;
    content: "";
    display: inline-block;
    margin-left: 11px;
    position: relative;
    top: -5px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.vacation__datails:hover:after {
    width: 40px;
}

.work {
    padding-bottom: 100px;
}

.vacation .genh1 {
    margin-bottom: 0;
}

/* work open */
.vacancy__details h1 {
    color: #231F20;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin-bottom: 22px;
    margin-bottom: 50px;
}

.vacancy__detail-title {
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.02em;
    color: #231F20;
    margin-bottom: 45px;
}

.vacancy__details {
    padding: 10px 0 60px 0;
    border-bottom: 1px solid #E5E5E5;
}

.vacancy__detail ul li {
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #231F20;
}

.vacancy__detail ul li span {
    color: #717171;
    width: 175px;
    display: inline-block;
}

.hr-manager {
    background: #FFFFFF;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
    padding: 25px 50px 33px 50px;
}

.hr-manager .title {
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.02em;
    color: #231F20;
}

.hr-manager .partner {
    font-size: 18px;
    line-height: 140%;
    color: #B9B9B9;
    margin-bottom: 30px;
}

.hr-manager .manager {
    color: #231F20;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.02em;
}

.hr-manager .manager a {
    font-size: 22px;
    color: #231F20;
}

.hr-manager .manager a:hover {
    text-decoration: underline;
}

.hr-manager .manager span {
    width: 87px;
    display: inline-block;
}

.work-open {
    padding-bottom: 100px;
}

.expect {
    padding: 60px 0 30px 0;
}

.offer {
    padding: 30px 0 0 0;
}

.list-circ li {
    padding-left: 30px;
    position: relative;
    font-size: 22px;
    line-height: 120%;
    color: #231F20;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
}

.list-circ li:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    border: 1px solid #06357A;
    box-sizing: border-box;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 9px;
}

.offer-btn {
    padding: 14px 45px;
    background-color: #06357A;
    box-shadow: 0px 4px 10px rgba(6, 53, 122, 0.15);
    color: #fff;
    margin-top: 60px;
    display: inline-block;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.offer-btn span:after {
    content: "";
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    margin-left: 11px;
    top: -5px;
    position: relative;
}

.offer-btn:hover {
    background-color: #1b51a1;
    color: #fff;
}

/* popup (modal) */
.modal-content {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.modal-content {
    padding: 52px 112px 85px 112px;
}

.modal-dialog {
    max-width: 754px;
}

.modal-header {
    padding: 0 0 35px 0;
    text-align: center;
    display: block;
}

.modal-title {
    color: #231F20;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.03em;
}

.modal-header .close {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    width: 50px;
    height: 50px;
    background-color: #06357A;
    opacity: 1;
}

.modal-header .close img {
    margin-top: -6px;
    width: 20px;
    height: 20px;
}

.modal-body {
    padding: 60px 0 0 0;
}

.modal-inprow label {
    color: #231F20;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0.01em;
    margin-bottom: 0;
}

.modal-inprow input {
    padding-left: 15px;

}

.modal-inprow input,
.modal-inprow select {
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #B6B6B6;
    box-sizing: border-box;
    width: 375px;
    font-size: 18px;
    outline: none;
    padding-left: 15px;
}

.modal-inprow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.modal-inprow label.fileinp {
    color: #06357A;
    letter-spacing: 0.01em;
    font-size: 18px;
    line-height: 120%;

    /* display: inline-block; */
}

.modal-inprow label.fileinp img {
    margin-right: 5px;
    top: -1px;
    position: relative;
}

.modal-inprow>div {
    width: 375px;
}

.modal-inprow button {
    width: auto;
    margin-top: 40px;
    padding: 14px 45px;
    background: #06357A;
    box-shadow: 0px 4px 10px rgba(6, 53, 122, 0.15);
    border: none;
    color: #fff;
    cursor: pointer;
}

.modal-inprow button:hover {
    background-color: #1b51a1;
}

.modal-inprow button span:after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 30px;
    background-color: #fff;
    margin-left: 11px;
    position: relative;
    top: -5px;
}

#fileload {
    display: none;
}

.map-page .button_blue {
    bottom: -20px;
    position: relative;
}

.loading {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.loading__centerblock {
    position: absolute;
}

.loading__centerblock img {
    margin-bottom: 80px;
}

.loading__centerblock ul {
    text-align: center;
}

.loading__centerblock ul li {
    margin-right: 25px;
    display: inline-block;
    vertical-align: middle;
}

.loading__centerblock ul li:last-child {
    margin-right: 0;
}

.loading__centerblock ul li a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.loading__centerblock ul li a:hover {
    background-color: #01275E;
}

.map__choose-country {
    height: 64px;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 20px;
}

.map__choose-country select {
    background-color: transparent;
    height: 100%;
    width: 303px;
    border: none;
    border-right: 1px solid #e5e5e5;
    padding-left: 20px;
    color: #717171;
    opacity: 0.55;
    font-size: 18px;
    line-height: 140%;
    outline: none;
}

.map__choose-country select option {
    color: #717171;
    opacity: 0.55;
    font-size: 20px;
    line-height: 140%;
}

.map__map-box {
    height: 624px;
}

.map-row {
    background: #FFFFFF;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.05);
    padding: 25px;
    margin-bottom: 15px;
}

.map-row .title {
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.02em;
    color: #231F20;
    margin-bottom: 2px;
}

.map-row .descr {
    font-size: 18px;
    line-height: 140%;
    color: #B9B9B9;
    margin-bottom: 15px;
}

.map-rows {
    padding: 20px 0 0 0;
}

.map-row .adress {
    color: #717171;
    font-size: 20px;
    line-height: 140%;
}

.map-row .right-info {
    display: flex;
    justify-content: space-between;
}

.map-row .right-info a,
.map-row .right-info span {
    color: #717171;
    font-size: 20px;
    line-height: 140%;
}

.map-row .right-info a:hover {
    text-decoration: underline;
}

.map-row .right-info a.marker {
    color: #06357A;
}

.map-row .right-info a img {
    margin-top: -4px;
}

.map-page {
    padding-bottom: 85px;
}

header {
    z-index: 9;
}

/* map */
#map-canvas {
    width: 100%;
    height: 624px;
    background-color: #cecece;
}

.gm-style .gm-style-iw-c {
    box-shadow: 0 2px 7px 1px rgb(6, 53, 122);
    /* border: 1px solid #06357a; */
}

.gm-style .gm-style-iw-t::after {
    box-shadow: -2px 2px 2px 0 rgb(6, 53, 122, 0.6);
}

.gm-style .gm-style-iw-d {
    font-size: 14px;
}